################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImageSquash/v15
/ImageSquash/Debug
*.tlog
*.cod
/ImageSquash/x64
/x64
*.user
/.vs/ImageSquash/v17
/.vs/ImageSquash/FileContentIndex
/.vs
/packages/Microsoft.Windows.ImplementationLibrary.1.0.230411.1
